.cart {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
  }
  
  .cart h2 {
    text-align: center;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
  }
  
  .cart li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart img {
    max-width: 50px;
    margin-right: 20px;
  }
  
  .cart div {
    flex: 1;
  }
  
  .cart button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .cart button:hover {
    background-color: #cc0000;
  }
  
  .quantity-actions {
    display: flex;
    align-items: center;
  }
  
  .quantity-actions button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .quantity-actions button:hover {
    background-color: #0056b3;
  }
  